:root {
  --optionBackground1: url("/images/person-cover-with-paint.jpg");
  --optionBackground2: url("/images/grayscale-photo-of-chair-inside-the-establishment.jpg");
  --optionBackground3: url("/images/black-and-white-color-curve-eye.jpg");
  --optionBackground4: url("/images/bubble.jpg");
  --icon1: #bd081c;
  --icon2: #1ab7ea;
  --icon3: #ff6600;
  --icon4: #ff0084;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: #dae1eb;
}

.options {
  display: flex;
  justify-content: center;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

.option {
  position: relative;
  overflow: hidden;
  width: 60px;
  margin: 10px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: #b6bbc5;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2),
    -3px -3px 15px rgba(255, 255, 255, 0.3);
}

.option::before {
  content: "";
  width: 65px;
  height: 410px;
  background: #dae1eb;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.option:nth-child(1) {
  background: var(--optionBackground1);
  background-position: 65px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.option:nth-child(2) {
  background: var(--optionBackground2);
  background-position: 65px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.option:nth-child(3) {
  background: var(--optionBackground3);
  background-position: 65px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.option:nth-child(4) {
  background: var(--optionBackground4);
  background-position: 65px 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.option.active {
  width: 600px;
  border-radius: 40px;
  background-position: 0px 0px;
  transition: all 0.5s ease-in-out;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4),
    -3px -3px 15px rgba(255, 255, 255, 0.3);
}

.option.active::before {
  width: 0;
}

.label {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 7px;
  height: 40px;
  width: 100%;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  background-color: #dae1eb;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2),
    -3px -3px 15px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.option:nth-child(1) .icon:hover,
.option:nth-child(1).active .icon,
.option:nth-child(1) .info {
  color: var(--icon1);
}

.option:nth-child(2) .icon:hover,
.option:nth-child(2).active .icon,
.option:nth-child(2) .info {
  color: var(--icon2);
}

.option:nth-child(3) .icon:hover,
.option:nth-child(3).active .icon,
.option:nth-child(3) .info {
  color: var(--icon3);
}

.option:nth-child(4) .icon:hover,
.option:nth-child(4).active .icon,
.option:nth-child(4) .info {
  color: var(--icon4);
}

.option.active .icon {
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

.info {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: #fff;
  left: 60px;
  width: auto;
  transition: all 0.5s ease-in-out;
}

.option.active .info {
  left: 50px;
  width: 100%;
}

.info > div {
  position: relative;
}

.main {
  font-weight: bold;
  font-size: 1.2rem;
}
